@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('./CSS/starting-screen.css');
@import url('./CSS/choice-screen.css');
@import url('./CSS/battle-screen.css');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background: url(./images/starting-screen.jpeg);
  background-repeat: no-repeat !important; 
  background-position: bottom;
  background-size: cover !important;
  font-family: 'Press Start 2P', cursive;
  /* overflow: hidden; */
  cursor: url("images/pointer.png"), auto;
}
button{
  font-family: 'Press Start 2P', cursive;
}

